/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */

/*

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*/

/*

Color Schemes:

Brown #2F2519
Grey #4A3F35
PumpkinOrange #FA7D09
OrangeRed #FF4301


Fonts:

font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Satisfy', cursive;


*/

* {

	font-family: 'Montserrat', sans-serif;
	/* border: .0625em solid black; */
	
}

html {
	font-size: 62.5%;

}

header {
	display: flex;
}

.header-container {
	flex-flow: row wrap;
	width: 70%;
	
}

.header-container nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	font-size: 1.6rem;
}

.header-container nav a {
	margin-right: 20px;
	color: #FF6347;
	text-decoration: none;
}

footer {
	display: flex;
}

.footer-container nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	font-size: 1.6rem;
}

.footer-container nav a {
	margin-right: 20px;
	color: #FF6347;
	text-decoration: none;
}

h1 {
	display:flex;
	font-family: 'Satisfy', cursive;
	font-size: 7.2rem;
	width: 125%;
	justify-content: left;
	margin: 5px;
	color:#FF4301;
}

h2 {
	font-family: 'Satisfy', cursive;
	font-size: 4.8rem;
	color: #FA7D09;
}

.about {
	text-align: center;
}
p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.blog-container {
	display: flex;
}

.thechef {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	display: block;
	padding: 5%;
}

.blog {
	text-align: center;
	width:42%;
}

.blogbooks {
	width: 50%;
	border-radius: 5px;
	margin: 20px;
	
}